<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="close()">
    <mat-icon>home</mat-icon>
    <span>Főoldal</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="close()">
    <mat-icon>login</mat-icon>
    <span>Belépés</span>
  </a>
  <a mat-list-item routerLink="/subscribe" (click)="close()">
    <mat-icon>login</mat-icon>
    <span>Előfizetések</span>
  </a>
  <a mat-list-item routerLink="/refill" (click)="close()">
    <mat-icon>login</mat-icon>
    <span>Feltöltő kártyák</span>
  </a>
  <a mat-list-item routerLink="/orders" (click)="close()">
    <mat-icon>login</mat-icon>
    <span>Rendelések</span>
  </a>
</mat-nav-list>

