<span class="loading-indicator" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</span>

<div class="loginContainer">
  <div class="loginMain">
    <mat-form-field class="textInput">
      <mat-label for="email">E-mail</mat-label>
      <input matInput type="text" [formControl]="email">
    </mat-form-field>
    <mat-form-field class="textInput">
      <mat-label for="password">Jelszó</mat-label>
      <input matInput type="password" [formControl]="password">
    </mat-form-field>
    <div class="buttonContainer">
      <button mat-raised-button color="primary" class="regButton" (click)="login()">Belépés</button>
      <button mat-raised-button color="primary" class="logButton" [routerLink]="'/regPage'">Regisztráció</button>
    </div>
  </div>
</div>
