

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogOut)="logOut($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidNav(sidenav)">
          <mat-icon>
            menu
          </mat-icon>
        </button>
      </div>
      <div><a routerLink="/home">APPNAME</a></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigationItems">
          <li><a routerLink="/subscribe">Előfizetések</a></li>
          <li><a routerLink="refill">Feltöltő kártyák</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/orders">Rendelések</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Belépés</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logOut()">Kilépés</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


