<div class="loginCardContainer">
  <mat-card class="loginCard" *ngFor="let plan of plans let i = index;">
    <mat-card-content>
      <mat-label style="margin: 20px;">
        {{plan.name}}
      </mat-label><br>
      <mat-label style="margin: 20px;">
        {{plan.net}}
      </mat-label><br>
      <mat-label style="margin: 20px;">
        {{plan.voice}}
      </mat-label><br>
      <mat-label style="margin: 20px;">
        {{plan.price}}
      </mat-label><br>

    </mat-card-content>
  </mat-card>
</div>
