<div class="main-component">
  <div class="page-content">
    <div class="main-concent2"><img class="homeImg" src="assets/mobileImg.jpg"></div>
    <div class="main-concent3">
      <div>
        <mat-icon>check_circle</mat-icon>
        <h1>Kiváló minőség!</h1>
        <h2>Azt kapod amire szükséged van.</h2>
      </div>
      <div>
        <mat-icon>lock_clock</mat-icon>
        <h1>Kötetlen hűségidő!</h1>
        <h2>Maradj velünk amíg TE szeretnél.</h2>
      </div>
      <div>
        <mat-icon>calendar_month</mat-icon>
        <h1>Naprakész szolgáltatás!</h1>
        <h2>Nálunk mindig a legjobbat kapod.</h2>
      </div>
    </div>
  </div>
</div>



